# The UPSY component tests

name: UPSY component tests
run-name: ${{ github.actor }} - UPSY component tests
on:
  pull_request:
    branches:
      - main
    paths:
      - 'src/UPSY/**'
  workflow_dispatch:

jobs:

  # Install and cache Matlab
  install_and_cache_Matlab:
    uses: ./.github/workflows/UPSY_test_suite_install_and_cache_Matlab.yml

  # Install and cache Python
  install_and_cache_Python:
    uses: ./.github/workflows/UPSY_test_suite_install_and_cache_Python.yml

  # Run all the component tests using the development compilation on MacOS
  component_tests_dev_macOS:
    needs: install_and_cache_Matlab
    uses: ./.github/workflows/UPSY_component_tests_dev_MacOS.yml