name: UPSY component tests - development build, MacOS
run-name: ${{ github.actor }} - UPSY component tests - development build, MacOS
on:
  workflow_call:

jobs:
  component_tests_dev_macOS:
    runs-on: macos-latest
    steps:

    # Install all required packages and compile the code
    # ==================================================

      - name: Install MATLAB
        uses: matlab-actions/setup-matlab@v2.2.0
        with:
          cache: true

      - name: Install packages with Homebrew   # Packages end up in /opt/homebrew/Cellar
        run: |
          #brew install gcc                    # Not needed on GitHub server, already installed
          brew install open-mpi
          brew install petsc
          brew unlink hdf5-mpi                 # To fix the following conflict: "hdf5-mpi: because hdf5-mpi is a variant of hdf5, one can only use one or the other"
          brew install netcdf
          brew install netcdf-fortran
          #brew install cmake                  # Not needed, already installed
          #brew install ninja

      - name: Set up Fortran compiler          # See: https://github.com/marketplace/actions/setup-fortran
        uses: fortran-lang/setup-fortran@v1
        id: setup-fortran
        with:
          compiler: gcc
          version: 15

      - name: Verify compiler setup
        run: gfortran --version

      - name: Check out repository
        uses: actions/checkout@v4

      - name: Update submodules
        run: |
          git submodule update --init --remote

      - name: Compile UPSY
        run: ./compile_UPSY.csh  dev  clean

    # Run the individual component test programs
    # ==========================================

      - name: Run component test - mesh creation
        run: |
          cd automated_testing/UPSY/component_test_mesh_creation
          ./test_script.csh

      - name: Check test result
        uses: matlab-actions/run-command@v2
        with:
          command: |
            addpath('automated_testing')
            reduce_all_netcdfs_in_folder_to_checksum('${{github.workspace}}/automated_testing/UPSY/component_test_mesh_creation/results')
            compare_all_netcdfs_in_test_folder('${{github.workspace}}/automated_testing/UPSY/component_test_mesh_creation')
